<div class="w-[250px] grid grid-cols-3 gap-0 p-0 max-w-xs mx-auto bg-black">
        <!-- Row 1 with placeholder for 1 -->
        <div class="border-transparent p-4"></div>
        <div class="flex items-center justify-center  rounded-md p-2 relative">
                <!-- Image with Tooltip -->
                <img (mouseover)="setActiveItem('head')" (mouseleave)="setActiveItem('head')"
                        (click)="setActiveItem('head')" src="../assets/championset/champhead.gif"
                        class="hover:cursor-pointer border rounded-md border-gray-500" />

                <!-- Tooltip Positioned Below Image -->
                <div *ngIf="activeItem === 'head'"
                        class="absolute z-10 left-0 top-full mt-1 bg-gray-200 p-2 rounded shadow-lg">
                        <pre>{{ equipedItems.head | json }}</pre>
                </div>
        </div>
        <div class="flex items-center justify-center  rounded-md p-2 relative"><img (mouseover)="setActiveItem('neck')"
                        (mouseleave)="setActiveItem('neck')" (click)="setActiveItem('neck')"
                        src="../assets/championset/champneck.gif"
                        class="hover:cursor-pointer border rounded-md border-gray-500 mr-5 mt-5" />
                <!-- Tooltip Positioned Below Image -->
                <div *ngIf="activeItem === 'neck'"
                        class="absolute left-0 z-10 top-full mt-1 bg-gray-200 p-2 rounded shadow-lg">
                        <pre>{{ equipedItems.neck | json }}</pre>
                </div>
        </div>

        <!-- Row 2 -->
        <div class="flex items-center justify-center  rounded-md p-2 relative"><img
                        (mouseover)="setActiveItem('weapon')" (mouseleave)="setActiveItem('weapon')"
                        (click)="setActiveItem('weapon')" src="../assets/championset/champweapon.gif"
                        class="hover:cursor-pointer border rounded-md border-gray-500" />
                <!-- Tooltip Positioned Below Image -->
                <div *ngIf="activeItem === 'weapon'"
                        class="absolute left-0 z-10 top-full mt-1 bg-gray-200 p-2 rounded shadow-lg">
                        <pre>{{ equipedItems.weapon | json }}</pre>
                </div>
        </div>
        <div class="flex items-center justify-center  rounded-md p-2 relative"><img (mouseover)="setActiveItem('armor')"
                        (mouseleave)="setActiveItem('armor')" (click)="setActiveItem('armor')"
                        src="../assets/championset/champbody.gif"
                        class="hover:cursor-pointer border rounded-md border-gray-500" />
                <!-- Tooltip Positioned Below Image -->
                <div *ngIf="activeItem === 'armor'"
                        class="absolute left-0 z-10 top-full mt-1 bg-gray-200 p-2 rounded shadow-lg">
                        <pre>{{ equipedItems.armor | json }}</pre>
                </div>
        </div>
        <div class="flex items-center justify-center  rounded-md p-2 relative"><img
                        (mouseover)="setActiveItem('shield')" (mouseleave)="setActiveItem('shield')"
                        (click)="setActiveItem('shield')" src="../assets/championset/champshield.gif"
                        class="hover:cursor-pointer border rounded-md border-gray-500" />
                <!-- Tooltip Positioned Below Image -->
                <div *ngIf="activeItem === 'shield'"
                        class="absolute left-0 z-10 top-full mt-1 bg-gray-200 p-2 rounded shadow-lg">
                        <pre>{{ equipedItems.shield | json }}</pre>
                </div>
        </div>

        <!-- Row 3 -->
        <div class="flex items-center justify-center  rounded-md p-2 relative"><img (mouseover)="setActiveItem('belt')"
                        (mouseleave)="setActiveItem('belt')" (click)="setActiveItem('belt')"
                        src="../assets/championset/champbelt.gif"
                        class="hover:cursor-pointer border rounded-md border-gray-500 ml-5 mb-5" />
                <!-- Tooltip Positioned Below Image -->
                <div *ngIf="activeItem === 'belt'"
                        class="absolute left-0 z-10 top-full mt-1 bg-gray-200 p-2 rounded shadow-lg">
                        <pre>{{ equipedItems.belt | json }}</pre>
                </div>
        </div>
        <div class="flex items-center justify-center  rounded-md p-2 relative"><img (mouseover)="setActiveItem('shoes')"
                        (mouseleave)="setActiveItem('shoes')" (click)="setActiveItem('shoes')"
                        src="../assets/championset/champshoes.gif"
                        class="hover:cursor-pointer border rounded-md border-gray-500" />
                <!-- Tooltip Positioned Below Image -->
                <div *ngIf="activeItem === 'shoes'"
                        class="absolute left-0 z-10 top-full mt-1 bg-gray-200 p-2 rounded shadow-lg">
                        <pre>{{ equipedItems.shoes | json }}</pre>
                </div>
        </div>
        <div class="flex items-center justify-center  rounded-md p-2 relative"><img (mouseover)="setActiveItem('ring')"
                        (mouseleave)="setActiveItem('ring')" (click)="setActiveItem('ring')"
                        src="../assets/championset/champring.gif"
                        class="hover:cursor-pointer border rounded-md border-gray-500 mr-5 mb-5" />
                <!-- Tooltip Positioned Below Image -->
                <div *ngIf="activeItem === 'ring'"
                        class="absolute left-0 z-10 top-full mt-1 bg-gray-200 p-2 rounded shadow-lg">
                        <pre>{{ equipedItems.ring | json }}</pre>
                </div>
        </div>
</div>