.game-map {
  display: grid;
  grid-template-columns: repeat(45, 1fr);  /* Adjust number of columns based on the number of cells in a row */
  gap: 2px; /* 2px gap between cells */
  max-width: 100%;
  margin: 20px auto;
}

.game-row {
  display: contents;  /* Allows each row to be displayed as a set of grid items */
}

.game-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f4f4f4;
  height: 30px; /* Cell height */
  font-size: 14px;
  border: 1px solid #ddd; /* Border around each cell */
  transition: background-color 0.3s ease; /* Smooth transition for background color change */
}

.hidden {
  background-color: transparent;  /* Hide cells where the value is 0 */
  border: none;  /* Remove borders for hidden cells */
}

.highlight {
  background-color: #FFA500 !important ;  /* Light orange background for non-zero values */
  color: white;  /* White text color */
}

.game-cell {
  background-color: #f4f4f4;
  font-size: 16px;
}
