<!-- <p>
  player-stats works!
  {{ playerStatsSummary() | json }}
</p> -->
<!-- <div class="p-4 border rounded-lg bg-gray-50 shadow w-[400px]">
  <div *ngFor="let stat of playerStatsSummary() | keyvalue"
    class="flex justify-between items-center py-1 border-b last:border-b-0">
      <span  class="font-medium text-gray-700 capitalize">{{ stat.key }}</span>
      <span class="text-gray-900 font-bold">{{ stat.value }}</span>
  </div>
</div> -->

<div class="p-4 space-y-2">
  <!-- Total Attack and Total HP -->
  <div class="flex gap-2 items-center justify-between text-xs text-gray-100">
    <div class="flex items-center">
      <span class="font-semibold">Level:</span>
      <span>&nbsp;{{ user()?.level }}</span>
    </div>
    <div class="flex items-center">
      <span class="font-semibold">Exp:</span>
      <span>&nbsp;{{ user()?.experience }}</span>
    </div>
  </div>
  <hr />
  <div class="flex gap-2 items-center justify-between text-xs text-gray-100">
    <div class="flex items-center">
      <span class="font-semibold">Total Attack:</span>
      <span>&nbsp;{{ playerStatsSummary().attack }}</span>
    </div>
    <div class="flex items-center">
      <span class="font-semibold">Total HP:</span>
      <span>&nbsp;{{ playerStatsSummary().hp }}</span>
    </div>
  </div>

  <!-- Level Bonus -->
  <div class="flex justify-between text-xs text-gray-300">
    <span class="font-semibold">Level Bonus</span>
    <span>{{ playerStatsSummary().levelAttackBonus }} attack / {{ playerStatsSummary().levelHpBonus }} hp</span>
  </div>

  <!-- Set Bonus -->
  <div class="flex justify-between text-xs text-gray-300">
    <span class="font-semibold">Set Bonus</span>
    <span>{{ playerStatsSummary().totalSetAttackBonus }} attack / {{ playerStatsSummary().totalSetHpBonus }} hp</span>
  </div>



  <hr />

  <div class="grid grid-cols-2 gap-4 text-xs text-gray-300">
    <div class="flex items-center">
      <span class="font-semibold mr-1">Max Rage:</span>
      <span> {{ playerStatsSummary().maxRage }}</span>
    </div>
    <div class="flex items-center">
      <span class="font-semibold mr-1">Rage:</span>
      <span> {{ playerStatsSummary().rage }} hr</span>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-4 text-xs text-gray-300">
    <div class="flex items-center">
      <span class="font-semibold mr-1">Rampage:</span>
      <span> {{ playerStatsSummary().rampage }}%</span>
    </div>
    <div class="flex items-center">
      <span class="font-semibold mr-1">Critical:</span>
      <span> {{ playerStatsSummary().critical }}%</span>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-4 text-xs text-gray-300">
    <div class="flex items-center">
      <span class="font-semibold mr-1">Block:</span>
      <span> {{ playerStatsSummary().block }}%</span>
    </div>
    <div class="flex items-center">
      <span class="font-semibold mr-1">EXP:</span>
      <span> {{ playerStatsSummary().exp }} hr</span>
    </div>
  </div>
</div>

<div class="ml-3 text-gray-100 border border-gray-800 border-md p-1 w-fit flex items-center bg-gray-900">
  <span class="text-xs font-semibold">
    Crew:
    <a [attr.href]="'/crew?name=' + (user()?.crewName || '')">
      {{ user()?.crewName || 'No crew' }}
    </a>
  </span>
</div>