<div class="droplist-container">
  <h2>Monsters Drop List</h2>

  <form [formGroup]="form" class="search-form">
    <div class="search-wrapper">
      <mat-icon class="search-icon">search</mat-icon>
      <input class="searchInput" matInput formControlName="search" placeholder="Filter by item name" />
    </div>
  </form>

  <ng-container *ngIf="filteredDropList; else noData">
    <div class="drop-list-item-container" *ngFor="let item of filteredDropList | keyvalue">
      <strong class="item-name-color">{{ item.key }}</strong>
      <div>
        <p class="drop-list-container-item"><strong>Drops by:</strong> {{ item.value.monsterNames.join(', ') }}
          <strong>at Locations:</strong> {{ item.value.monsterLocations.join(', ') }}
        </p>
      </div>
    </div>
  </ng-container>

  <h2 style="margin-top: 50px;">Street names & Ids</h2>
  <div class="multi-column-list">
    <div class="itemInWorldToStreetList" *ngFor="let i of worldIdToStreetName">
      {{ i }}
    </div>
  </div>

  <h2 style="margin-top: 50px;">Quests</h2>
  <div *ngFor="let quest of quests">
    <div class="quest-container mb-4">
      <p><strong>{{quest.Name}}</strong></p>
       <p>Location {{quest.Location}}</p>
       <p>Description {{quest.Description}}</p>
       <p class="text-yellow-400">Exp {{quest.Exp}}</p>
       <p>Item rewards:</p>
      <div class="text-blue-500" *ngFor="let item of quest.ItemRewardNames">
        {{item}}
      </div>
    </div>
  </div>

  <h2 style="margin-top: 50px;">Experience list</h2>
  <div *ngFor="let listItem of experienceList">
    <div class="experienceListItem-container mb-2">
      <div> <p><strong>Level {{listItem.level}}</strong> - Experience {{listItem.experience}}</p> </div>
      <p class="">Attack {{listItem.attackPoints}} Hp {{listItem.Hp}} (Skill Points {{listItem.skillPoints}})</p>
    </div>
  </div>

  <ng-template #noData>
    <p>No drop list data available.</p>
  </ng-template>
</div>