<div class="flex items-center gap-0">
  <div (click)="debugbutton()">
    
  </div>
  <div class="border-2 bg-gray-900 border-gray-600 rounded-sm p-1 text-gray-300 relative hover-trigger" *ngIf="user()?.name">
    {{ user()?.name }}
    <div class="tooltip">Points: {{user()?.points}}</div>

  </div>
  <div class="border-2 bg-gray-900 border-gray-600 rounded-sm p-1 text-gray-300" *ngIf="user()?.level">
    Level {{ user()?.level }}
  </div>
  <div class="border-2 bg-gray-900 border-gray-600 rounded-sm p-1 text-gray-300 relative hover-trigger" *ngIf="user()?.experience">
    Experience {{ user()?.experience }}

    <!-- Tooltip -->
    <div class="tooltip">{{expNeeded()}} exp for next level <br /> +{{playerStatsSummary()?.exp}} exp per hr</div>
  </div>
  <div class="border-2 bg-gray-900 border-gray-600 rounded-sm p-1 text-gray-300 relative hover-trigger" *ngIf="user()?.rage">
    Rage {{ user()?.rage }}

    <!-- Tooltip -->
    <div class="tooltip">{{ playerStatsSummary()?.maxRage }} max rage <br />+{{ playerStatsSummary()?.rage }} rage per hr</div>
  </div>
</div>