<!-- inventory.component.html -->
<div class="grid grid-cols-10 grid-rows-5 gap-1 p-0 w-[550px]">
  <!-- Loop through each square in the grid and display items -->
  <div *ngFor="let item of inventoryItems(); let i = index"
    class="relative w-12 h-12 rounded-lg overflow-visible border-2 border-gray-300">
    <!-- Show image if item exists -->
    <img *ngIf="item" (click)="setActiveItem(item.id)" [src]="item.urlPath" alt="Item"
      class="object-cover w-full h-full rounded-lg" />
    <!-- Tooltip Positioned Below Image -->
    <div *ngIf="activeItem === item.id" class=" left-0 z-20 top-full mt-1 bg-gray-200 p-2 rounded shadow-lg w-fit">
      <button *ngIf="item" (click)="equipItem(item)"
        class=" bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Equip
      </button>
      <button class="ml-4 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
        Delete
      </button>
      <pre>{{ item | json }}</pre>
    </div>

    <!-- Show a placeholder if there's no item -->
    <div *ngIf="!item" class="w-full h-full bg-gray-200 rounded-lg"></div>
  </div>
</div>



<!-- <pre>{{ inventoryItems()| json }}</pre> -->