<!-- inventory.component.html -->
<div class="grid grid-cols-10 grid-rows-5 gap-1 p-0 w-[550px]">
  <!-- Loop through each square in the grid and display items -->
  <div *ngFor="let item of inventoryItems(); let i = index"
    class="relative w-12 h-12 rounded-lg overflow-visible border-2 " [ngClass]="item.locked ? 'border-blue-600' : 'border-gray-600'">
    <!-- Show image if item exists -->
    <img *ngIf="item" (click)="setActiveItem(item.id)" [src]="item.urlPath" alt="Item"
      class="object-cover w-full h-full rounded-lg hover:cursor-pointer" />
    <!-- Tooltip Positioned Below Image -->
    <div *ngIf="activeItem === item.id" class="absolute left-0 z-30 top-full mt-1  rounded shadow-lg w-fit">

      <!-- <pre>{{ item | json }}</pre> -->
      <div class="w-fit min-w-[150px] mx-auto p-4 bg-gray-900 rounded-lg shadow-md">
        <!-- Item Name -->
        <div>
          <p class=" text-xs font-bold text-gray-200 text-left">{{ item.name }}
          </p>
        </div>

        <div *ngIf="item.upgradeLevel !== 0" class="mt-2 text-sm text-gray-200">
          <app-item-upgrade-display [upgradeLevel]=item.upgradeLevel></app-item-upgrade-display>
        </div>
        <!-- Item Stats -->
        <div class="mt-2 space-y-1">
          <p *ngIf="item.attack" class="text-gray-300 text-xs">
            <span class="font-semibold">+{{ item.attack }} ATK</span>
          </p>
          <p *ngIf="item.hp" class="text-gray-300 text-xs">
            <span class="font-semibold">+{{ item.hp }} HP</span>
          </p>
          <p *ngIf="item.maxRage" class="text-gray-300 text-xs">
            <span class="font-semibold">+{{ item.maxRage }} max rage</span>
          </p>
          <p *ngIf="item.rage" class="text-gray-300 text-xs">
            <span class="font-semibold">+{{ item.rage }} rage per hr</span>
          </p>
          <p *ngIf="item.exp" class="text-gray-300 text-xs">
            <span class="font-semibold">+{{ item.exp }} exp per hr</span>
          </p>
          <p *ngIf="item.rampage" class="text-gray-300 text-xs">
            <span class="font-semibold">+{{ item.rampage }}% rampage</span>
          </p>
          <p *ngIf="item.critical" class="text-gray-300 text-xs">
            <span class="font-semibold">+{{ item.critical }}% critical hit</span>
          </p>
          <p *ngIf="item.block" class="text-gray-300 text-xs">
            <span class="font-semibold">+{{ item.block }}% block</span>
          </p>
          <p *ngIf="item.setBonus[0]" class="text-gray-300 text-xs">
            <span class="font-semibold">[{{ item.setBonus?.[0] }}/{{item.setBonus?.[1]}}] Set Bonus</span>
          </p>


        </div>

        <!-- Item Type and Upgrade Level -->
        <!-- <div class="mt-4 text-sm text-gray-600">
          <p>
            Upgrade Level: <span class="font-semibold">{{ item.upgradeLevel }}</span>
          </p>
        </div> -->

        <div class="flex mt-4">
          <button *ngIf="item" (click)="equipItem(item)"
            class="text-xs  text-black font-bold py-1  rounded bg-slate-200 p-1">
            Equip
          </button>
          <button (click)="deleteItem(item)" class="mx-2 text-xs  text-black font-bold py-1  rounded bg-slate-200 p-1">
            Delete
          </button>
          <mat-icon (click)="toggleLockItem(item.id)" class="lockIcon" *ngIf="item.locked" aria-hidden="false" aria-label="Example home icon" fontIcon="lock_open"></mat-icon>
          <mat-icon (click)="toggleLockItem(item.id)" class="lockIcon" *ngIf="!item.locked" aria-hidden="false" aria-label="Example home icon" fontIcon="lock"></mat-icon>
        </div>
      </div>

      <!-- Show a placeholder if there's no item -->
      <div *ngIf="!item" class="w-full h-full bg-gray-200 rounded-lg"></div>
    </div>
  </div>

  <!-- <pre>{{ inventoryItems()| json }}</pre> -->